*{
    margin: 0px;
    padding: 0px;
}
li a {
    text-decoration: none;
    list-style: none;
    color:white;
    margin: 15px;
}
li{
    background-color: rgb(136, 0, 199);
    padding: 10px;
}
.gameContainer{
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    display: grid;
    grid-template-columns:repeat(3 , 10vw);
    grid-template-rows:repeat(3 , 10vw);
}
.box{
    border: 2px solid black;
    text-align: center;
    font-size: 8vw;
}
.box:hover{
    background-color: rgb(165, 109, 177);
}
.bb-0{
    border-bottom: 0;
}
.br-0{
    border-right: 0;
}
.bl-0{
    border-left: 0;
}
.bt-0{
    border-top: 0;
}
.info{
    color: rgb(46, 2, 241);
    font-size: 40px;
    width: 250px;
    margin: auto;

}
#reset{
    font-size: 35px;
    width: 400px;
    margin: 20px;
    border-radius: 20px;
    background-color: rgb(129, 188, 255);
    color: black;
}
@media screen and (max-width:800px){
    .gameContainer{
        display: flex;
        flex-wrap: wrap;
    }
    .container{
        margin: 20px;
        display: grid;
        grid-template-columns:repeat(3 , 15vw);
        grid-template-rows:repeat(3 , 15vw);
    }
    .box{
        text-align: center;
        font-size: 15vw;
    }
}